//@import 'foundation/foundation.min';

body {
  background-color: #13142f;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #13142f;
}

#welcome, #projects, #aboutme {
  padding-top: 30px;
}

.description, .proj-language {
  text-align: left;
}

#am_descr {
  padding-bottom: 35px;
}

.proj {
  box-sizing: border-box;
  border: 2px;
  border-color: white;
  border-style: solid;
  margin: 0px;
}

.proj-title {
  font-size: 18px;
  font-weight: bold;
}

.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.footer {
  left: 0;
  bottom: 0;
  color: #333;
  background-color: #edeef6;
  position: fixed;
  height: 30px;
  width: 100%;
  padding-top: 3px;
  text-align: center;
}
