body {
  background-color: rgb(27, 81, 162);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 30px;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.proj-title {
  font-size: 18px;
  font-weight: bold;
}

.header {
  left: 0;
  bottom: 0;
  color: black;
  background-color: white;
  position: fixed;
  top: 0;
  height: 20px;
  width: 100%;
}

.footer {
  left: 0;
  bottom: 0;
  color: black;
  background-color: white;
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
}
