$back-color: #13142f;
$text-headfoot-color: #333;
$padding-leftright: 10px;

body {
  background-color: $back-color;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;

  a {
      display: block;
      color: $text-headfoot-color;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  a:hover {
      color: white;
      background-color: $back-color;
  }
}

#welcome, #projects, #aboutme {
  padding-top: 50px;
}

#proj_comm {
  padding-left: $padding-leftright;
  padding-right: $padding-leftright;
}

.description, .proj-language {
  text-align: left;
}

#am_descr {
  padding-bottom: 50px;
  padding-left: $padding-leftright;
  padding-right: $padding-leftright;
}

.proj-title {
  font-size: 23px;
  font-weight: bold;
}

.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.footer {
  left: 0;
  bottom: 0;
  color: $text-headfoot-color;
  background-color: #edeef6;
  position: fixed;
  height: 30px;
  width: 100%;
  padding-top: 3px;
}
