

#welcome
  %h1 Portfolio of Claes Enlund

#projects
  %h1 Projects
  - data.projects.each do |project|
    %div.proj-title #{project[:name]}
    %div.proj-language
      %strong Languages:
      #{project.languages}
    %div.description
      %strong Description:
      #{project[:description]}
  %p All projects have been done using Git, GitHub as well as a test driven design

#aboutme
  %h1 About me
  %div.description Following the Craft Academy bootcamp to learn about coding. The focus is on web development. Tools we learn include Ruby, JavaScript, jQuery, Git, html, css to name a few.
