

.welcome
  %h1 Portfolio of Claes Enlund




.projects
  %h1 Projects
  - data.projects.each do |project|
    %div.proj-title Title: #{project[:name]}
    %div.proj-title Languages: #{project.languages}
    %div.proj-desciption Description: #{project[:description]}
    %p



//%h1 friends
//%ol
//  - data.people.friends.each do |f|
//    %li= f


//<%= link_to(
//  "Read Documentation",
//  "https://middlemanapp.com/basics/templating_language/",
//  target: "_blank"
//) %>
