

#welcome
  %h1 Portfolio of Claes Enlund

#projects
  %h1 Projects
  .row.large-up-4
    - data.projects.each do |project|
      .column.column-block
        %div.proj-title #{project[:name]}
        %div.proj-language
          %strong Languages and tools:
          #{project.languages}
        %div.description
          %strong Description:
          #{project[:description]}
  %br
  %p#proj_comm All projects have been done using Git, GitHub. The work method is Agile and test driven desgin (TDD) as well behaviour driven design (BDD)

#aboutme
  %h1 About me
  %div#am_descr
    Following the Craft Academy bootcamp to learn about coding. The focus is on web development.
    %br
    Tools we learn include Ruby, JavaScript, jQuery, Git, html, css to name a few.
    %br
    My background is in IT as a bridge between IT and business. Have done some programming and would like to get more heavy into it.
    %br
    Has a Master of Science with applied mathematics as speciality.
